@font-face {
    font-family: 'battleship';
    src: url('./assets/ITC_Machine_Font/ITC\ Machine\ Bold.ttf');
}

html{
    height: 100%;
}

body{
    background-color: lightgrey;
    background-image: url('./assets/waterBg.jpg');
    display: flex;
    height: 100%;
    margin: 0px;
}

.gameboard{ 
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    height: 50vh;
    width: 50vh;
    
}

.box {
    height: auto;
    width: auto;
    background-color: hsl(188, 84%, 50%);
    border: 1px solid black;
}

#game{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#currPlayer{
    display: flex;
    position: absolute;
    color: rgb(251, 167, 10);
    font-family: 'battleship';
    letter-spacing: 1px;
    font-size: 1.5rem;

    top: 90%;
}

.playerName{
    font-family: 'battleship';
    font-size: 3rem;
    text-align: center;
}